#!/bin/bash
# config.sh - Store your username and password here, where it is gitignored.

# Target workspace for gsload.sh
workspace="eo1"

# GeoServer credentials
username="admin"
password='geoserver'

# Atom Hopper credentials
feeduser="atompost"
feedpass='********'
